fastapi
uvicorn
sqlalchemy
jinja2
langchain
langchain-groq
langchain-community
chromadb
python-dotenv
requests
pydantic[email]
pydantic-settings
python-multipart
faiss-cpu
sentence-transformers
typing-extensions>=4.15.0
python-jose[cryptography]
passlib[bcrypt]
python-jose[cryptography]
passlib[bcrypt]
